<div class="row justify-content-center mb-2">
    <div class="col-lg-8">
        <% user_achievement = @user_achievements.find_by(achievement_id: achievement.id) %>
        <% is_new = @new_achievement_ids.include?(achievement.id) %>
        <% if user_achievement.present? %>
            <div class="card border rounded-4">
                <div class="card-body row align-items-center">
                    <div class="col-2 text-center" style="color: #8787a9;">
                        <i class="fas <%= achievement.icon %> fa-3x <%= "fa-beat" if is_new %>"></i> 
                    </div>
                    <div class="col-8">
                        <p class="card-text"><%= achievement.description %></p>
                        <% if is_new %>
                            <span class="badge bg-rainbow"><%= random_success_message %> Obtenu il y a <%= time_ago_in_words(user_achievement.created_at) %></span>
                        <% else %>
                            <span class="badge bg-simple">Obtenu le <%= l(user_achievement.created_at, format: :long) %></span>
                        <% end %>
                    </div>
                    <div class="col-2">
                        <% if Video.find_by(unlocked_by: achievement.key).present? %>
                            <%= link_to "Voir la vidéo", videos_path(Video.find_by(unlocked_by: achievement.key)), class: "link-primary" %><br>
                        <% end %>
                    </div>
                </div>
            </div>
        <% else %>
            <div class="card bg-light border rounded-4">
                <div class="card-body row align-items-center" style="opacity: 0.3;">
                    <div class="col-2 text-center">
                        <i class="fas <%= achievement.icon %> fa-3x text-muted"></i> 
                    </div>
                    <div class="col-10">
                        <p class="card-text text-muted"><%= achievement.description %></p>
                        <span class="badge bg-secondary">À obtenir</span>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
