<%= render "shared/navbar" %>

<p style="color: green"><%= notice %></p>

<div class="container-md">
  <div class="row justify-content-center text-center mt-5 mb-3">
      <div class="col-lg-8">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Mode réel</h1>
          <p class="lead">Tous les utilisateurs sont en compétition. Que le plus rapide gagne.</p>
      </div>
  </div>
</div>

<h1>Editing user</h1>

<%= render "form", user: @user %>

<br>

<div>
  <%= link_to "Show this user", @user %> |
  <%= link_to "Back to users", users_path %>
</div>
