<div class="container-md" style="max-width: 1140px;">
    <div class="row justify-content-center mb-3 mt-5 py-5">
        <div class="col-sm-8 text-center">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-2">Démarrage imminent !</h1>
            <div class="progress mt-4" role="progressbar" aria-label="Example 20px high" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 90%">
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2 class="h5 mb-3 fw-bold">Tu n'es plus qu'à un clic de démarrer Shift Heroes.</h2>
            <%= form_with(model: User.new, url: users_path, method: :post, html: {class: "needs-validation", novalidate: ""}) do |f| %>
                <% if params[:email] && params[:email].present? %>
                    <%= f.label :email, value: "Ton email :", class: "form-label fw-bold" %>
                    <p>
                        <%= params[:email] %>
                        <%= link_to "(modifier)", root_path, class: "link" %>
                    </p>
                    <%= f.hidden_field :email, value: params[:email] %>
                <% else %>
                    <div class="mb-3">
                        <%= f.label :email, value: "Ton email :", class: "form-label fw-bold" %>
                        <%= f.email_field :email, class: "form-control form-control", required: true, placeholder: "Ton email" %>
                        <div class="invalid-feedback">Veuillez fournir une adresse e-mail valide.</div>
                    </div>
                <% end %>
                <div class="mb-3">
                    <%= f.label :first_name, value: "Ton prénom :", class: "form-label fw-bold" %>
                    <%= f.text_field :first_name, class: "form-control form-control", required: true, placeholder: "Ton prénom" %>
                    <div class="invalid-feedback">Veuillez fournir un prénom.</div>
                </div>
                <div class="mb-3">
                    <%= f.label :password, value: "Un mot de passe pour ton compte :", class: "form-label fw-bold" %>
                    <%= f.password_field :password, class: "form-control form-control", required: true, placeholder: "Un mot de passe pour ton compte" , oninput: "password_confirmation.value = this.value" %>
                    <div class="invalid-feedback">Veuillez fournir un mot de passe.</div>
                    <%= f.hidden_field :password_confirmation, id: "password_confirmation" %>
                </div>
                <div class="actions">
                    <%= f.submit "Démarrer", class: "btn border btn-lg px-4 me-md-2 bg-rainbow ms-0", style: "color: #0c5175; " %>
                </div>
            <% end %>
            <div class="row justify-content-center my-5">
                <div class="col-auto text-center">
                    <%= link_to login_path, method: :get, class: "px-4 mt-3 d-block" do %>
                        J'ai déjà un compte
                    <% end %>
                    <%= link_to root_path, method: :get, class: "px-4 mt-3 d-block" do %>
                        Retour à l'accueil
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
