<div class="row justify-content-center mb-2">
    <div class="col-lg-8">
        <% user_video = @user_videos.find_by(video_id: video.id) %>
        <% if user_video.present? %>
            <div class="card border rounded-4">
                <div class="card-body row align-items-center">
                    <div class="col-2 text-center" style="color: #8787a9;">
                        <i class="fas fa-video fa-3x"></i> 
                    </div>
                    <div class="col-8">
                        <h6 class="card-title"><%= video.title %></h6>
                        <p class="card-text"><%= video.description %></p>
                        <% if user_video.is_complete %>
                            <span class="badge bg-simple">Déjà vu</span>
                        <% else %>
                            <span class="badge bg-rainbow">À voir</span>
                        <% end %>
                    </div>
                    <div class="col-2">
                        <%= link_to "Voir la vidéo", video.url, class: "link-primary" %>
                    </div>
                </div>
            </div>
        <% else %>
            <div class="card bg-light border rounded-4">
                <div class="card-body row align-items-center" style="opacity: 0.3;">
                    <div class="col-2 text-center">
                        <i class="fas fa-video fa-3x text-muted"></i> 
                    </div>
                    <div class="col-10">
                        <h6 class="card-title"><%= video.title %></h6>
                        <p class="card-text text-muted"><%= video.description %></p>
                        <span class="badge bg-secondary">Vidéo verrouillée</span>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
