<%= render "shared/navbar" %>
<%= render "shared/flash" %>

<div class="container-md">
    <div class="row justify-content-center text-center my-5">
        <%= render "videos/confetti_animation" %>
        <div class="col-lg-8">
            <h1 class="display-6 fw-bold text-body-emphasis lh-1 mb-3">Ma progression</h1>
            <%= link_to "Clique ici en cas d'urgence", ultimate_advice_path, class: "link text-decoration-none" %>
        </div>
    </div>
</div>

<div class="container row">

    <div class="col-lg-8 col-12" id="video-and-details">
        <%= render "videos/video_and_details" %>
    </div>

    <div class="col-lg-4 col-12" id="video-playlist">
        <%= render "videos/playlist" %>
    </div>

</div>