<%= render "shared/navbar" %>
<%= render "shared/flash" %>

<div class="container-md">
    <div class="row justify-content-center text-center mt-5 mb-3">
        <div class="col-lg-8">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Tes vidéos</h1>
            <p class="lead">Parce que tu es sur le point de devenir un expert !</p>
        </div>
    </div>
    <% if @uncompleted_video %>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card">
                    <div class="embed-responsive embed-responsive-16by9">
                        <div style="position: relative; padding-bottom: 64.90384615384616%; height: 0;"><iframe src="https://www.loom.com/embed/e35aaccfb9744a8b994deee254b552f1?sid=3e1110c6-cb10-41b3-acd3-311ff7bd85fa" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><%= @uncompleted_video.video.title %></h5>
                        <%= button_to "Marquer comme complétée", complete_video_path(@uncompleted_video.video), method: :put, class: "btn btn-primary" %>
                    </div>
                </div>
            </div>
        </div>
    <% else %>
        <% @videos.each do |video| %>
            <%= render 'video', video: video %>
        <% end %>
    <% end %>
</div>
