<div data-controller="review-modal" class="modal fade" id="reviewModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-4">
        <div id="error_messages_container">
          <div id="error_messages"></div>
        </div>
        <%= form_with model: Review.new, url: create_review_path, local: false do |f| %>
          <div class="mb-4" style="height: 5em;">
            <div class="star-rating">
              <h5>À quel point as-tu aimé Shift Heroes ?</h5>
              
              <fieldset class="rating mt-2">
                  <%= f.radio_button :stars, 10, id: "star5" %><label class="full" for="star5" title="Parfait - 5 étoiles"></label>
                  <%= f.radio_button :stars, 9, id: "star4half" %><label class="half" for="star4half" title="Quasi parfait - 4,5 étoiles"></label>
                  <%= f.radio_button :stars, 8, id: "star4" %><label class="full" for="star4" title="Super - 4 étoiles"></label>
                  <%= f.radio_button :stars, 7, id: "star3half" %><label class="half" for="star3half" title="Pas mal - 3,5 étoiles"></label>
                  <%= f.radio_button :stars, 6, id: "star3" %><label class="full" for="star3" title="Ça passe - 3 étoiles"></label>
                  <%= f.radio_button :stars, 5, id: "star2half" %><label class="half" for="star2half" title="Moyen - 2,5 étoiles"></label>
                  <%= f.radio_button :stars, 4, id: "star2" %><label class="full" for="star2" title="Assez bof - 2 étoiles"></label>
                  <%= f.radio_button :stars, 3, id: "star1half" %><label class="half" for="star1half" title="Mauvais - 1,5 étoiles"></label>
                  <%= f.radio_button :stars, 2, id: "star1" %><label class="full" for="star1" title="Je reste poli - 1 étoile"></label>
                  <%= f.radio_button :stars, 1, id: "starhalf" %><label class="half" for="starhalf" title="Claqué au sol - 0,5 étoile"></label>
              </fieldset>

            </div>
          </div>
          <div class="mb-2">
            <h5>Dépose ton avis public ici</h5>
            <%= f.text_area :comment, class: 'form-control mt-3', rows: 3, placeholder: "Shift Heroes est entrain de changer ma vie, merci Harry ! (ou un truc du genre)" %>
          </div>
          <div class="modal-footer border-0">
            <button type="button" class="btn link-secondary" data-bs-dismiss="modal">Plus tard</button>
            <%= f.submit "Je donne mon avis", class: 'btn bg-rainbow' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
