<div id="<%= dom_id shift %>">
  <p>
    <strong>Planning:</strong>
    <%= shift.planning_id %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= shift.day %>
  </p>

  <p>
    <strong>Start hour:</strong>
    <%= shift.start_hour %>
  </p>

  <p>
    <strong>End hour:</strong>
    <%= shift.end_hour %>
  </p>

  <p>
    <strong>Seats:</strong>
    <%= shift.seats %>
  </p>

</div>
