<%= render "shared/navbar" %>

<p style="color: green"><%= notice %></p>

<div class="container-md">
  <div class="row justify-content-center text-center mt-5 mb-5">
      <div class="col-lg-8">
          <h1 class="display-6 fw-bold text-body-emphasis lh-1 mb-5">Réserver un créneau</h1>
          <p class="lead">
            <%= @shift.day.capitalize %> - <%= @shift.start_hour.strftime('%Hh') %> à <%= @shift.end_hour.strftime('%Hh') %>
          </p>
          <p class="lead">
            Places restantes : <%= @shift.seats - @shift.seats_taken %>/<%= @shift.seats %>
          </p>

          <% if @user_shifts.include?(@shift) %>
            <% reservation = current_user.reservations.find_by(shift_id: @shift.id) %>
            <%= button_to "Annuler la réservation", reservation, method: :delete, class: "btn btn-warning", style: "display: inline" %>
          <% elsif @shift.seats_taken < @shift.seats %>
            <%= button_to "Réserver ce créneau", reservations_url, params: { reservation: { shift_id: @shift.id, user_id: current_user.id } }, class: "btn btn-primary", style: "display: inline" %>
          <% else %>
            <%= button_to "Réserver ce créneau", reservations_url, params: { reservation: { shift_id: @shift.id, user_id: current_user.id } }, class: "btn btn-primary", style: "display: inline", disabled: true %>
          <% end %>
      </div>
  </div>
</div>

<div class="container-md text-center">
  <p><%= link_to "Retour au planning", planning_path(@shift.planning)%></p>
</div>
