<div class="container-md" style="max-width: 1140px;">
    <%= render 'shared/flash' %>
    <div class="row justify-content-center text-center pt-4 mt-5">
        <div class="col-md-8">
            <div class="display-5 fw-bold text-body-emphasis lh-1">
                Relève le défi et deviens l'architecte de ton succès
            </div>
        </div>
    </div>
    <div class="row justify-content-center text-center mt-4">
        <div class="col-md-8">
            <p class="lead">Shift Heroes te plonge dans un univers qui a vraiment existé, dans lequel tu es incité à apprendre le code dans le but de décrocher des créneaux de travail, donc de gagner plus et de surpasser tes concurrents.</p>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="bg-black col-md-8 p-3 rounded-4 shadow text-center">
            <script src="https://fast.wistia.com/embed/medias/a5xba2qv52.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_a5xba2qv52 seo=true videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/a5xba2qv52/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
        </div>
    </div>
    <div class="row justify-content-center mt-4 text-center">
        <%= form_with(url: new_user_path, method: :get, html: {class: "needs-validation row justify-content-center mt-4 text-center", novalidate: ""}) do |f| %>
            <div class="mb-3 col-md-4 col-10" style="margin-top: 5px">
                <%= text_field_tag :email, nil, class: "form-control form-control-lg", style: "padding:12px", required: true, placeholder: "Entrez votre adresse e-mail" %>
                <div class="invalid-feedback">Veuillez fournir une adresse e-mail valide.</div>
            </div>

            <div class="col-auto">
                <%= f.submit "Démarrer maintenant", class: "btn border btn-sm px-4 mx-0 bg-rainbow bordered", style: "color: #0c5175; font-size: 1.25rem;" %>            </div>
                <%= link_to login_path, method: :get, class: "px-4 mt-3" do %>
                    J'ai déjà un compte
                <% end %>
            </div>
        <% end %>
    </div>
    
</div>
