<%= render "shared/flash" %>

<div class="container-md" style="max-width: 1140px;">
    <div class="row justify-content-center">
        <div class="col-md-5 mt-5">
            <%= link_to root_path do %>
                <%= image_tag "yt_mini_sh.jpg", class: "my-5 img-fluid" %>
            <% end %>
        </div>
    </div>
    <div class="row justify-content-center my-5">
        <div class="col-lg-8">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Réinitialiser ton mot de passe</h1>
            <p class="lead">Choisis un nouveau mot de passe pour ton compte.</p>
            <p style="color: red"><%= alert %></p>
            <%= form_tag update_password_path(token: @token), method: :patch, html: {class: "needs-validation", novalidate: ""} do %>
                <div class="mb-3">
                    <%= label_tag :password, "Nouveau mot de passe", class: "form-label" %>
                    <%= password_field_tag "user[password]", nil, class: "form-control form-control-lg", required: true %>
                    <div class="invalid-feedback">Veuillez fournir un nouveau mot de passe.</div>
                </div>
                <div class="actions">
                    <%= submit_tag "Changer le mot de passe", class: "btn btn-primary btn-lg px-4 me-md-2 bg-rainbow", style: "color: #0c5175;" %>
                </div>
            <% end %>
        </div>
    </div>
</div>
