<div class="container-md" style="max-width: 1140px;">
    <div class="row justify-content-center mb-3 mt-5 py-5">
        <div class="col-sm-8 text-center">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-2">Reprise de l'aventure !</h1>
            <div class="progress mt-4" role="progressbar" aria-label="Example 20px high" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 90%">
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2 class="h5 mb-3 fw-bold">Connecte-toi pour continuer ton aventure sur Shift Heroes.</h2>
            <%= form_with(url: login_path, method: :post, html: {class: "needs-validation", novalidate: ""}) do |f| %>
                <div class="mb-3">
                    <%= f.label :email, class: "form-label fw-bold" %>
                    <%= f.email_field :email, class: "form-control form-control", required: true, placeholder: "Ton email" %>
                    <div class="invalid-feedback">Veuillez fournir une adresse e-mail valide.</div>
                </div>
                <div class="mb-3">
                    <%= f.label :password, class: "form-label fw-bold" %>
                    <%= f.password_field :password, class: "form-control form-control", required: true, placeholder: "Ton mot de passe" %>
                    <div class="invalid-feedback">Veuillez fournir un mot de passe.</div>
                </div>
                <div class="mb-3">
                    <%= link_to "Mot de passe oublié ?", forgot_password_path, class: "link" %>
                </div>
                <div class="form-check mb-3">
                    <%= f.check_box :remember_me, class: "form-check-input" %>
                    <%= f.label :remember_me, class: "form-label" do %>
                        Se souvenir de moi
                    <% end %>
                </div>
                <div class="actions">
                    <%= f.submit "Se connecter", class: "btn border btn-lg px-4 me-md-2 bg-rainbow ms-0", style: "color: #0c5175; " %>
                </div>
            <% end %>
            <div class="row justify-content-center my-5">
                <div class="col-auto text-center">
                    <%= link_to new_user_path, method: :get, class: "px-4 mt-3 d-block" do %>
                        Je n'ai pas encore de compte
                    <% end %>
                    <%= link_to root_path, method: :get, class: "px-4 mt-3 d-block" do %>
                        Retour à l'accueil
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
