<!DOCTYPE html>
<html>
  <head>
    <title>Shift Heroes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path('favicon/favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path('favicon/favicon-16x16.png') %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path('favicon/apple-touch-icon.png') %>">
    <link rel="manifest" href="<%= asset_path('favicon/site.webmanifest') %>">
  </head>

  <body>
    <%= render "shared/review_modal" if current_user&.can_review? %>
    <%= yield %>
    <%= render "shared/footer" %>
    <% if current_user %>
      <script type="text/javascript">!function(e,t,n){function a(){var e=t.getElementsByTagName("script")[0],n=t.createElement("script");n.type="text/javascript",n.async=!0,n.src="https://beacon-v2.helpscout.net",e.parentNode.insertBefore(n,e)}if(e.Beacon=n=function(t,n,a){e.Beacon.readyQueue.push({method:t,options:n,data:a})},n.readyQueue=[],"complete"===t.readyState)return a();e.attachEvent?e.attachEvent("onload",a):e.addEventListener("load",a,!1)}(window,document,window.Beacon||function(){});</script>
      <script type="text/javascript">window.Beacon('init', '71476f34-7a41-4579-b761-89c92bf8245b')</script>
      <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
    <% end %>
  </body>
</html>
