<p style="color: green"><%= notice %></p>

<h1>Les plannings</h1>

<div id="plannings" class="row">
  <% ["permanent", "daily", "weekly"].each do |planning_type| %>
    <% planning = @available_plannings.find { |p| p.planning_type == planning_type } %>
    <% if planning %>
      <div class="col-sm-4">
        <h3><%= planning_type %></h3>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Rempli à <%= planning.filling_rate %>%</h5>
            <p class="card-text">
              Créneaux obtenus : <%= planning.reservations.where(user_id: current_user.id).count %>/<%= planning.shifts.count %>
              <br>
              Revenus estimés : <%= planning.hourly_rate > 0 ? number_to_currency(planning.earnings(current_user), unit: "€") : "–" %>
            </p>
            <p class="card-text">
              <small class="text-body-secondary text-muted">
                <%= planning.description %>
              </small>
            </p>
            <a href="<%= planning_path(planning) %>" class="btn btn-<%= planning.theme_color %>">Voir</a>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">
              <%= planning.state_in_french %> 
              <% unless "permanent" == planning.planning_type && @available_plannings.first == planning %>
                il y a <%= time_ago_in_words(planning.published_at) %>
              <% end %>
            </small>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="container-sm mt-5">
  <h2>Anciens Plannings</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Type</th>
        <th scope="col">Publié le</th>
        <th scope="col">Créneaux obtenus</th>
        <th scope="col">Revenus obtenus</th>  <!-- Nouvelle colonne -->
      </tr>
    </thead>
    <tbody>
      <% @closed_plannings.each_with_index do |planning, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= planning.planning_type %></td>
          <td><%= planning.published_at.strftime("%d/%m/%Y") %> - Il y a <%= time_ago_in_words(planning.published_at) %></td>
          <td><%= planning.reservations.where(user_id: current_user.id).count %>/<%= planning.shifts.count %></td>
          <td>
            <%= planning.hourly_rate > 0 ? number_to_currency(planning.earnings(current_user), unit: "€") : "–" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


