<%= render "shared/navbar" %>
<%= render "shared/flash" %>

<div class="container-md">
  <div class="row justify-content-center text-center mt-5 mb-3">
      <div class="col-lg-8">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Mode réel</h1>
          <p class="lead">Tous les utilisateurs sont en compétition. Que le plus rapide gagne.</p>
      </div>
  </div>
</div>

<% if @weekly_planning %>
  <div class="container row justify-content-center" id="real_plannings">
    <div class="col-10 row justify-content-center">
      <%= render "plannings/planning", this_planning: @weekly_planning %>
    </div>
  </div>
<% end %>

<div class="container-md">
  <div class="row justify-content-center text-center mt-5 mb-3">
    <div class="col-lg-8">
      <h2 class="display-6 fw-bold text-body-emphasis lh-1 mb-3">Mode entraînement</h2>
      <p class="lead">Ces deux plannings ne sont accessibles qu'à toi.</p>
    </div>
  </div>
</div>

<div class="container row justify-content-center" id="training_plannings">
  <div class="col-10 row justify-content-center">
    <%= render "plannings/planning", this_planning: @permanent_planning %>
    <%= render "plannings/planning", this_planning: @daily_planning %>
  </div>
</div>