<%= render "shared/navbar" %>
<%= render "shared/flash" %>

<div class="container-md">
  <div class="row justify-content-center text-center mt-5 mb-3">
      <div class="col-lg-8">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Mode réel</h1>
          <p class="lead">Tous les utilisateurs sont en compétition. Que le plus rapide gagne.</p>
      </div>
  </div>
</div>

<% if @weekly_planning %>
  <div class="product-boxes">
    <span class="product-box" style="margin: 0 auto; margin: 0 auto;">
      <div class="icon weekly">
        <span class="text">n°<%= @weekly_planning.published_at.strftime('%U') %></span>
      </div>
      <div class="details">
        <span class="title"><%= @weekly_planning.seats_left %> places restantes</span>
        <p class="text-muted">
          Publié il y a <%= time_ago_in_words(@weekly_planning.published_at) %><br>
          Prochain : <span id="weeklyCountdown" data-controller="countdown"></span>
        </p>
        <p class="text-muted">
          Créneaux obtenus : <%= user_slots = @weekly_planning.reservations.where(user_id: current_user.id).count %> / 14 <%= evaluate_performance(user_slots) %>        </p>
        </p>
      </div>
      <a class="button-block bg-rainbow" href="<%= planning_path(@weekly_planning) %>">OUVRIR LE PLANNING</a>
    </span>
  </div>
<% end %>

<div class="container-md">
  <div class="row justify-content-center text-center mt-5 mb-3">
    <div class="col-lg-8">
      <h2 class="display-6 fw-bold text-body-emphasis lh-1 mb-3">Mode entraînement</h2>
      <p class="lead">Ces deux plannings ne sont accessible qu'à toi.</p>
    </div>
  </div>
</div>

<div class="product-boxes">
  <% ["permanent", "daily"].each do |planning_type| %>
    <% planning = @available_plannings.find { |p| p.planning_type == planning_type } %>
    <% if planning %>
      <span class="product-box">
        <div class="icon weekly">
          <% if planning.planning_type == "permanent" %>
            <i class="fa-solid fa-infinity"></i>
          <% else %>
            <i class="fa-solid fa-calendar-day"></i>
          <% end %>
        </div>
        <div class="details">
          <span class="title"><%= planning.shifts.count - planning.reservations.count %> places restantes</span>
          <p class="text-muted">
            Publié il y a <%= time_ago_in_words(planning.published_at) %><br>
            <% if planning.planning_type == "daily" %>
              Prochain dans : <span id="dailyCountdown" data-controller="countdown"></span>
            <% else %>
              Toujours disponible
            <% end %>
          </p>
          <p class="text-muted">
            Créneaux obtenus : <%= user_slots = planning.reservations.where(user_id: current_user.id).count %> / <%= planning.shifts.count %> <%= evaluate_performance(user_slots) if planning.planning_type == "weekly" %>
          </p>
        </div>
        <a class="button-block bg-simple" href="<%= planning_path(planning) %>">OUVRIR LE PLANNING</a>
      </span>
    <% end %>
  <% end %>
</div>

<div class="container-md">
  <div class="row justify-content-center text-center mt-5 mb-3">
    <div class="col-lg-8">
      <h2 class="display-6 fw-bold text-body-emphasis lh-1 mb-3">Anciens plannings</h2>
      <p class="lead">Ces plannings hebdomadaires sont déjà passés, mais tu peux toujours voir tes résultats.</p>
    </div>
  </div>
</div>


<div class="container-sm mt-5" style="max-width:780px">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Semaine</th>
        <th scope="col">Publication</th>
        <th scope="col">Créneaux obtenus</th>
        <th scope="col">Revenus obtenus</th>  <!-- Nouvelle colonne -->
      </tr>
    </thead>
    <tbody>
      <% @closed_plannings.each_with_index do |planning, index| %>
        <tr>
          <th scope="row">n°<%= planning.published_at.strftime('%U') %></th>
          <td>Il y a <%= time_ago_in_words(planning.published_at) %></td>
          <td><%= planning.reservations.where(user_id: current_user.id).count %>/<%= planning.shifts.count %></td>
          <td>
            <%= planning.hourly_rate > 0 ? number_to_currency(planning.earnings(current_user), unit: "€") : "–" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
