<p style="color: green"><%= notice %></p>

<div>
  <%= link_to "> Retour aux plannings", plannings_path %>
</div>

<h1><%= @planning.name %></h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Heures</th>
      <% Planning.week_days.each_with_index do |day_name, day| %>
        <th scope="col"><%= day_name %></th> <!-- Affiche le jour de la semaine -->
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% [8, 14].each do |hour| %>
      <tr>
        <td><%= '%02d:00' % hour %></td> <!-- Affiche l'heure -->
        <% Planning.week_days.each_with_index do |day_name, day| %>
          <td>
            <% @planning.shifts.where(day: day_name.downcase).each do |shift| %> <!-- Boucle à travers les shifts pour le jour actuel -->
              <% if shift.start_hour.hour == hour %>
                <%= link_to shift do %> <!-- Lien vers le shift -->
                  <div class="event <%= 'reserved' if current_user.shifts.include?(shift) %>">                    <!-- Vous pouvez ajouter plus de détails sur le shift ici -->
                    <%= shift.start_hour.strftime("%H:%M") %> - <%= shift.end_hour.strftime("%H:%M") %>
                    <div>
                      Places: <%= shift.seats_taken %> / <%= shift.seats %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

