<p style="color: green"><%= notice %></p>

<%= render @planning %>
  
<h4>Shifts :</h4>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Lundi</th>
      <th scope="col">Mardi</th>
      <th scope="col">Mercredi</th>
      <th scope="col">Jeudi</th>
      <th scope="col">Vendredi</th>
      <th scope="col">Samedi</th>
      <th scope="col">Dimanche</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @planning.morning_shifts.each do |shift| %>
        <%= render "plannings/shift", shift: shift %>
      <% end %>
    </tr>
    <tr>
      <% @planning.afternoon_shifts.each do |shift| %>
        <%= render "plannings/shift", shift: shift %>
      <% end %>
    </tr>
  </tbody>
</table>

<div>
  <%= link_to "Back to plannings", plannings_path %>
</div>
